version: '3'

services:

  postgres:
    image: postgres:13.2-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      POSTGRES_USER: pguser
      POSTGRES_DB: pgdb
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks:
      - pg-network

  adminer:
    image: adminer:4.8.0-standalone
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - pg-network


networks:
  pg-network:
    driver: bridge

volumes:
  pg-data:
    driver: local
